@import "/src/App.scss";

.searchBarContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 5%;
    position: relative;
}

.searchInput {
    width: 25%;
    padding: 12px 24px;
    background-color: transparent;
    transition: transform 250ms ease-in-out;
    @extend .banglaFont;
    font-size: 1rem;
    font-weight: bold;
    line-height: 18px;
    color: #575756;
    background-color: transparent;
    border-radius: 50px;
    border: 1px solid #575756;
    transition: all 250ms ease-in-out;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    
    &::placeholder {
        color: color(#575756 a(0.8));
        text-transform: uppercase;
        letter-spacing: 1.5px;
    }
    
    &:hover,
    &:focus {
        padding: 12px 0;
        outline: 0;
        border: 1px solid transparent;
        border-bottom: 1px solid #575756;
        border-radius: 0;
        background-position: 100% center;
    }
}

.iconContainer {
    position: absolute;
    top: 81%;
    left: 62%;
    transform: translate(-50%, -50%);
    z-index: 1;

    &:hover {
        cursor: pointer;
    }
}

@media only screen and (max-width: 800px) {
    .searchInput {
        width: 50%;
    }

    .iconContainer {
        top: 72%;
        left: 73%;
    }
}
