@import "/src/App.scss";

.headerContainer {
    display: flex;
    justify-content: center;
    padding: 2%;
    @extend .banglaFont;
    font-size: 2.2rem;
    text-align: center;
    color: $font-white;
    font-weight: bold;
    text-shadow: 3px 3px 5px #000000;
    background-image: url("../../assets/images/dhaka-city.jpg");
    object-fit: cover;
}
