@import "./scss/animations";
@import "./scss/base";
@import "./scss/functions";
@import "./scss/mixins";
@import "./scss/typography";
@import "./scss/utilities";
@import "./scss/variables";

body {
    height: 100vh;
    background-color: $body-color;
    margin: 0;
    font-family: -'CharukolaUltraLight', 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
  }
  
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.mainContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
